$primary: #ffa242;
$secondary: #924cff;
$red: #fa3c3c;
$darkRed: #a42e63;
$blue: #1cc7ff;
$darkBlue: #338caa;
$green: #33ff6d;
$darkGreen: #42c266;
$black: #0c1016;
$grayishWhite: #cacaca;

$bigNoodle: 'BigNoodle';
$firaCode: 'FiraCode';

// BIG NOODLE FONTS

@font-face {
    font-family: $bigNoodle;
    src: url(./../assets/fonts/big_noodle_titling.ttf);
    font-weight: 400;
}

@font-face {
    font-family: $bigNoodle;
    src: url(./../assets/fonts/big_noodle_titling_oblique.ttf);
    font-weight: 600;
}

// FIRA CODE FONTS

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-SemiBold.ttf);
    font-weight: 550;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Bold.ttf);
    font-weight: 600;
}

:root {
    font-family: $firaCode;
    line-height: 1.5rem;
    font-weight: 600;

    color-scheme: light dark;
    color: $primary;
    background-color: $black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 300;
    color: $secondary;
    text-decoration: inherit;
}
a:hover {
    color: $secondary;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 300;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
