$primary: #ffa242;
$secondary: #924cff;
$red: #fa3c3c;
$darkRed: #a42e63;
$blue: #1cc7ff;
$darkBlue: #338caa;
$green: #33ff6d;
$darkGreen: #42c266;
$black: #0c1016;
$grayishWhite: #cacaca;

$bigNoodle: 'BigNoodle';
$firaCode: 'FiraCode';

// BIG NOODLE FONTS

@font-face {
    font-family: $bigNoodle;
    src: url(./../assets/fonts/big_noodle_titling.ttf);
    font-weight: 400;
}

@font-face {
    font-family: $bigNoodle;
    src: url(./../assets/fonts/big_noodle_titling_oblique.ttf);
    font-weight: 600;
}

// FIRA CODE FONTS

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-SemiBold.ttf);
    font-weight: 550;
}

@font-face {
    font-family: $firaCode;
    src: url(./../assets/fonts/FiraCode-Bold.ttf);
    font-weight: 600;
}

:root {
    font-family: $firaCode;
    font-size: 1.2rem;
    font-weight: 600;

    color: $primary;
    background-color: $black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body,
html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    // align-items: center;
    // place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
